TRAINING_VINCENT/services/t_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="t"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="tOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="tOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="tOperationRequest">
		<wsdl:part name="parameters" element="tns:tOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="tOperationResponse">
		<wsdl:part name="parameters" element="tns:tOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="tPortType">
		<wsdl:operation name="tOperation">
			<wsdl:input message="tns:tOperationRequest"></wsdl:input>
			<wsdl:output message="tns:tOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="tBinding" type="tns:tPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="tOperation">
			<soap:operation soapAction="http://www.talend.org/service/tOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="t">
		<wsdl:port name="tPort" binding="tns:tBinding">
			<soap:address location="http://localhost:8090/services/t" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>